<a href="https://colab.research.google.com/github/jadetan6/CPEN-21A-ECE-2-3/blob/main/Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Midterm Exam

##Problem Statement 1

In [2]:
a = "Fullname: Jade Ann Raquel C. Tan"
b = "Student Number: 201910439"
c = "Age: 21 years old"
d = "Birthday: July 6, 2000"
e = "Address: 381 Salcedo 1, Noveleta, Cavite"
f = "Course: BS Industrial Engineering"
g = "Last sem GWA: 1.59"

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

Fullname: Jade Ann Raquel C. Tan
Student Number: 201910439
Age: 21 years old
Birthday: July 6, 2000
Address: 381 Salcedo 1, Noveleta, Cavite
Course: BS Industrial Engineering
Last sem GWA: 1.59

##Problem Statement 2

In [18]:
n = 4
answ = "Y"

print(2<n) and (n<6)
if (2<n) or (n==6):
  print("True")
else: 
  print ("False")
if not(2<n) or (n==6):
  print("True")
else: 
  print ("False")
if not(n<6):
  print("True")
else: 
  print ("False")
if (answ=="Y") or (answ=="y"):
  print("True")
else: 
  print ("False")
if (answ=="Y") and (answ=="y"):
  print("True")
else: 
  print ("False")
if not(answ=="y"):
  print("True")
else: 
  print ("False")
if ((2<n) and (n==5+1)) or (answ=="No"):
  print("True")
else: 
  print ("False")
if ((n==2) and (n==7)) or (answ=="Y"):
  print("True")
else: 
  print ("False")
if (n==2) and ((n==7) or (answ=="Y")):
  print("True")
else: 
  print ("False")

True
True
False
False
True
False
True
False
True
False

##Problem Statement 3

In [30]:
x = 2
y = -3
w = 7
z = -10

print(x/y)
print(w/y/x)
print(z/y%x)
print(x%-y*w)
print(x%y)
print(z%w-y/x*5+5)
print(9-x%(2+y))
print(z//w) 
print((2+y)**2)
print(w/x*2)

-0.6666666666666666
-1.1666666666666667
1.3333333333333335
14
-1
16.5
9
-2
1
7.0